$white: white;
$black: black;
$blue: blue;
$hardBlue: #000038;
$red: red;
$seaGreen: #009e60;
$gold: gold;
$gold2: #ffe206;
$vividRed: #ed0401;
$veryLightGray: #fbfbfb;
$lightGray: #cccccc;
$darkGray: #a4a4a4;
$defaultDarkGray: darkgrey;
$veryDarkGray: #666666;
$veryDarkGray2: #353535;
$veryDarkGray3: #6f6f6f;
$veryDarkGray4: #1d1d1d;
$veryDarkGray5: #717171;
$veryDarkCyan: #202222;