%flex-item {
    flex: 1;
}

%icon-bell {
    @include backgroundIcon($icons, -7px, -11px, $white, repeat);
}

%icon-watermelon {
    @include backgroundIcon($icons, -75px, -11px, $white, repeat);
}

%icon-clover {
    @include backgroundIcon($icons, -145px, -11px, $white, repeat);
}

%icon-cherry {
    @include backgroundIcon($icons, -5px, -76px, $white, repeat);
}

%icon-diamond {
    @include backgroundIcon($icons, -74px, -76px, $white, repeat);
}

%icon-seven {
    @include backgroundIcon($icons, -142px, -76px, $white, repeat);
}

%ico {
    &.ico {
        flex: 1;
        background-size: 195px 135px;

        &.big {
            background-size: 195px 143px;
        }
    }
}