//Digital Regular
@font-face {
    font-family: 'Digital';
    src: local('☺'), /* sneakily trick IE */
    url('#{$fontUrl}digital-7.ttf') format('truetype'), /* Opera, Safari */
}

$digitalFontFamily: 'Digital', 'Segoe UI', Arial, sans-serif;

//Digital Italic
@font-face {
    font-family: 'DigitalItalic';
    src: local('☺'), /* sneakily trick IE */
    url('#{$fontUrl}digital-7-italic.ttf') format('truetype'), /* Opera, Safari */
}

$digitalItalicFontFamily: 'DigitalItalic', 'Segoe UI', Arial, sans-serif;

//Digital Mono
@font-face {
    font-family: 'DigitalMono';
    src: local('☺'), /* sneakily trick IE */
    url('#{$fontUrl}digital-7-mono.ttf') format('truetype'), /* Opera, Safari */
}

$digitalMonoFontFamily: 'DigitalMono', 'Segoe UI', Arial, sans-serif;

//Krinkes Regular
@font-face {
    font-family: 'Krinkes';
    src: local('☺'), /* sneakily trick IE */
    url('#{$fontUrl}KrinkesRegular.ttf') format('truetype'), /* Opera, Safari */
}
$krinkesFontFamily: 'Krinkes', 'Segoe UI', Arial, sans-serif;

//Krinkes Decor
@font-face {
    font-family: 'KrinkesDecor';
    src: local('☺'), /* sneakily trick IE */
    url('#{$fontUrl}KrinkesDecor.ttf') format('truetype'), /* Opera, Safari */
}
$krinkesDecorFontFamily: 'KrinkesDecor', 'Segoe UI', Arial, sans-serif;