$imgCdn: '../img/';
$fontUrl: '../fonts/';
$icons: $imgCdn + 'icons.png';
$background: $imgCdn + 'background.png';
$backgroundWrapper: $imgCdn + 'background-wrapper.png';
$logo: $imgCdn + 'logo.png';

// cube/case related
$caseWidth: 300px;
$caseHeight: 200px;
$frontWidth: 296px;
$frontHeight: 196px;
$backWidth: 282px;
$backHeight: 186px;
$sideWidth: 96px;
$endsWidth: 305px;