#control {
    width: 230px;
    margin: 9px auto 0;
    border: 5px solid $darkGray;
    background: url($background) repeat;
    padding: 20px 30px 25px;
    text-align: center;
    transform: perspective(150px) rotateX(-15deg);

    & > div {
        transform: perspective(150px) rotateX(15deg);

        button {
            margin-left: 30px;
            height: 40px;
            width: 40px;
            font-size: 12px;
            font-weight: bold;
            border: none;
            border-radius: 6px;
        }
    }
}

#reset {
    background: $gold;

    &:active {
        background: $gold2;
    }
}

#credit {
    background: $vividRed;

    &:active {
        background: $red;
    }
}

#spin {
    background: $defaultDarkGray;

    &:active {
        background: $lightGray;
    }
}