.case {
    width: $caseWidth;
    height: $caseHeight;
    position: relative;
    margin: 16px auto 0;

    perspective: 600px;
    transform-style: preserve-3d;

    > li {
        width: inherit;
        height: inherit;
        position: absolute;
        background: $red;
        opacity: 0.8;
    }

    .front-case {
        background: transparent;
        opacity: 1;
        width: $frontWidth;
        height: $frontHeight;
    }
    .back-case {
        background-color:transparent;
        transform: rotateY(180deg) translate3d(-2px, 0, -86px);
        opacity: 1;
        width: $backWidth;
        height: $backHeight;
        border: 5px solid $darkGray;
    }
    .left-case {
        @include backgroundLinearGradient($veryDarkGray, $veryDarkGray2);
        transform: rotateY(-90deg) translate3d(0, -2px, 152px);
        width: $sideWidth;
        height: $caseHeight;
        left: 100px;
    }
    .right-case {
        @include backgroundLinearGradient($lightGray, $veryDarkGray3);
        transform: rotateY(90deg) translate3d(0, -2px, 152px);
        width: $sideWidth;
        height: $caseHeight;
        left: 100px;
    }
    .top-case {
        @include backgroundLinearGradient($veryDarkGray4, $veryDarkGray);
        transform: rotateX(90deg) translate3d(-5px, 0, 100px);
        width: $endsWidth;
        height: $sideWidth;
        top: 50px;
    }
    .bottom-case {
        @include backgroundLinearGradient($veryLightGray, $veryDarkGray5);
        transform: rotateX(-90deg) translate3d(-5px, 0, 100px);
        width: $endsWidth;
        height: $sideWidth;
        top: 50px;
    }
}